---
import { frontmatter } from '../content/actus/index.md'
import News from './News.astro'
import Letters from './Letters.astro'

const { enabled } = frontmatter as { enabled: boolean }
export type Props = {
	current?: 'projects' | 'infos' | 'news'
}

const { current } = Astro.props
---

<header class="sticky top-0 z-10 bg-gray-50">
	<div
		class="container mx-auto flex h-32 flex-col items-center justify-center gap-2 px-2 py-4 sm:gap-6 lg:h-24 lg:flex-row lg:justify-between"
	>
		<h1 class="whitespace-nowrap font-serif text-3xl font-bold italic">
			<a href="/" class="bouncing-letters"><Letters text="Sarah Penanhoat" /></a>
		</h1>
		<nav>
			<ul class="flex items-center gap-8 font-semibold sm:gap-16 sm:text-lg">
				<li>
					<a class="group relative py-0.5" href="/" aria-current={current === 'projects'}
						>Projets
						<span
							transition:name="nav-indicator"
							aria-hidden="true"
							class="absolute -left-2 -right-2 top-0 hidden h-full border-2 border-dashed border-black group-aria-[current=true]:block"
						></span>
					</a>
				</li>
				{
					enabled && (
						<li>
							<button
								class="group relative py-0.5"
								aria-current={current === 'news'}
								data-js="newsBtn"
							>
								Actualités
								<span
									transition:name="nav-indicator"
									aria-hidden="true"
									class="absolute -left-2 -right-2 top-0 hidden h-full  border-2 border-dashed border-black group-aria-[current=true]:block"
								/>
							</button>
						</li>
					)
				}
				<li>
					<a class="group relative py-0.5" href="/infos" aria-current={current === 'infos'}
						>Infos
						<span
							transition:name="nav-indicator"
							aria-hidden="true"
							class="absolute -left-2 -right-2 top-0 hidden h-full border-2 border-dashed border-black group-aria-[current=true]:block"
						></span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
{enabled && <News />}
